.nav-bar{
    display: block;
    background-color: white;
     box-shadow: 0 5px 13px -7px  black;
   height: 50px;
   
}
.nav-logo{
    position: absolute;
    width: 100px;
}

.nav-list{
    flex-direction: row;
    margin-left: 300px;

    
}
.box {
    position: absolute;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #ffff;
    border: 5px solid #ffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;


}

.logo-image {
    width: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    margin-left: 150px;

}

.mail-input{
   
    margin-left: 67px;
    border-radius: 10px;
    padding: 6px;

}
.input-box{

    width: 40px;  
   
}
video{

    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
   
   
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
 
    display:flex;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar-list {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    color: black;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
  }
   
  .sidebar-list.active {
    background-color:  #CDDC39;
    color: white;
  }
  
  .sidebar-list:hover:not(.active) {
    background-color: #CDDC39;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
 
  .list-logo{
    width:70px;

  }
  .logo-name{
    padding-left: 61px;
  }
.carousel-caption{

    position: absolute;
  
    bottom: 1.25rem;
    color: black;
  }